<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
{% else %}
    <meta content="{{ site.description }}" property="og:description">
{% endif %}

{% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% assign ogtype = layout.ogtype | default: "website" %}
<meta content="{{ ogtype }}" property="og:type">

{% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

{% if page.image %}
    {% assign imageurl = "/img/srcset/" | append: page.image %}
{% else %}
    <!-- TODO replace with logo -->
    {% assign imageurl = "/assets/vivino_icon.png" &}
{% endif %}

{% if imageurl | slice: 0, 5 == "https" %}
    <meta content="{{ imageurl }}" property="og:image">
{% else %}
    <meta content="{{ imageurl }}" property="og:image:secure_url">
{% endif %}

{% if page.categories %}
    {% for category in page.categories limit:1 %}
        <meta content="{{ category }}" property="article:section">
    {% endfor %}
{% endif %}

{% if page.tags %}
    {% for tag in page.tags %}
        <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
{% endif %}