---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="posts-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="posts">
    {%- for post in paginator.posts -%}
      <div class="post">
        <div class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </div>
        {%- if post.image -%}
        <a href="{{ post.url | relative_url }}">
          {% picture thumbnail {{ post.image }} %}
        </a>
        {%- endif -%}
        <div class="post-excerpt">
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
    </div>

    <!-- Pagination links -->
    <div class="pagination">
      {%- if paginator.previous_page -%}
        <a href="{{ paginator.previous_page_path }}" class="previous">&larr; Newer Posts</a>
      {%- endif -%}
      {%- if paginator.next_page -%}
        <a href="{{ paginator.next_page_path }}" class="next">Older Posts &rarr;</a>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
