---
layout: post
---
<div itemscope itemtype="http://schema.org/Review">

  {%- if page.winery_details -%}
    <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Winery">
      <h1><a href="{{ page.winery_details.url }}" itemprop="url"><span itemprop="name">{{ page.winery_details.name }}</span></a></h1>
      <meta itemprop="servesCuisine" content="Wine">
    </div>
    <ul>
      <li><span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        Rating: <span itemprop="ratingValue">{{ page.winery_details.rating }}</span> 
        out of <span itemprop="bestRating">100</span>
        </span></li>
      <li>Tasting Fee: {{ page.winery_details.tasting }}</li>
      <li>Reservation Required: {{ page.winery_details.reservation }}</li>
    </ul>
  {%- endif -%}

  <h1>Review</h1>
  <meta itemprop=name content="{{ page.title }}">
  <meta itemprop=author itemscope itemtype="http://schema.org/Person" content="{{ page.author }}">
  <span itemprop="reviewBody">
    {{ content }}
  </span>

</div>
